@custom-variant dark (&:where(.dark, .dark *));
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";


body.dark {
  background-color: black;
}

body {
  font-family: "pliant", sans-serif;
}

@theme {
    --font-brand: "Inter", sans-serif;
}